%p
  %strong= @article.title
  %small
    = link_to 'Edit', edit_article_path(@article)
    = link_to '| Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }
    = link_to '| Home', root_path
  %br
  %small
    Posted
    = @article.created_at
%p
  = @article.body

%hr

%h2 Comments:
- if @article.comments.empty?
  %p No comments yet.
- else
  = render @article.comments

%h2 Add new comment
= render 'comments/form'
